<%= form_with model: [ @user2, @user2.contacts.build ] do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :Name %>
  </p>
  <p>
    <%= form.label :PhoneNumber %><br>
    <%= form.text_field :PhoneNumber %>
  </p>
      <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>