<%= form_with model: [ @user2, @user2.contacts.build ] do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name ,name:"name"%>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>
      <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>