<h1> Add New Contact</h1>

<%= form_with model: @contact do |form| %>
  <div>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
    <% @contact.errors.full_messages_for(:PhoneNumber).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    <% @contact.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  

  <div>
    <%= form.label :Email %><br>
    <%= form.text_field :email %><br>
    <% @contact.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>




  <div>
    <%= form.submit %>
  </div>
<% end %>