

<div class="jumbotron">
  <h1 class="display-4">
    <%=@contact.phone%>
    <%=@contact.name%>

  </h1>
  <p class="lead">


  
   <%=@contact.phone%>
   <%=@contact.name%>
  
   </p

   <br>
   <br>
   <hr class="my-4">
   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

 <br>

   <br>
    
   <br>

   <br>
   
   <%= link_to "Back to friends", contacts_path,class:"btn btn-secondary" %>
  
 </div>



